<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="./output.css" rel="stylesheet">
  <title>kasra farsoudi</title>
</head>
<body>
<div class="fixed h-12 w-full border-2 bg-white" onclick="window.scrollTo({ top: 0 })">
  <h1 class="text-4xl">kasra farsoudi</h1>
</div>

<div class="pt-12" />

<div class="flex text-center text-2xl md:text-left">
  <div class="flex-1 border-l-2">
    <a href="/">home</a>
  </div>
  <div class="flex-1 border-l-2">
    <a href="/portfolio">portfolio</a>
  </div>
  <div class="flex-1 border-r-2 border-l-2">
    <a href="/">journal</a>
  </div>
</div>
